.module {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.halfRotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.arrow {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
