.module {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0.5rem 1rem 0.5rem;
  background-color: #fff8fd;
}

.title {
  font-family: "Dela Gothic One", cursive;
  font-size: 2.25rem;
  text-align: center;
  line-height: 3rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Bebas Neue";
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.captions {
  border-bottom: 1px solid var(--gray);
}

.rank {
  width: 3rem;
  text-align: center;
}

.name {
  margin-left: 1rem;
  width: 3rem;
  flex-grow: 1;
  overflow-wrap: break-word;
  word-break: break-all;
}

.score {
  margin-right: 0;
  margin-left: 1rem;
  text-align: center;
  width: 5rem;
}

.user > .name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
}
