.status {
  background-color: blue;
  padding: 0.4rem 0.4rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  opacity: 0;
}

.animate {
  animation-name: status;
  animation-duration: 3s;
  animation-iteration-count: 1;
}


@keyframes status {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
  }
}