.red {
  color: #ff6b6b;
}

.orange {
  color: #ff9a62;
}

.white {
  color: #ffffff;
}

.blue {
  color: #0185FF;
}

.gray {
  color: #cccccc;
}

.background-color--orange {
  background-color: #ff9a62;
}

.background-color--blackorange {
  background-color: #da753d;
}

.background-color--white {
  background-color: #ffffff;
}

.background-color--gray {
  background-color: #cccccc;
}

.background-color--transparent {
  background-color: transparent;
}