.main {
  position: absolute;
  top: 80px;
  left: 50%;
  composes: width--80percent from "/src/styles/layout.module.css";
  transform: translate(-50%, 0);
}
.signupButton {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -1px;
  composes: no-border padding-landscape border-radius--large drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--large from '/src/styles/typography.module.css';
}

.signupButton:hover {
  background-color: #da753d;
}

.signupButton:active {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
  top: 2px;
}

.loginButton {
  text-decoration: none;
  text-align: center;
  composes: background-color--white blue from "/src/styles/colors.module.css";
  composes: drop-shadow--shallow border-radius--large border-around--gray padding-landscape drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
}

.loginButton:hover {
  background-color: #e8e8e8;
}


.kofunman {
  composes: flex horizontal align-items-center gap--small from "/src/styles/layout.module.css";
  width: 100%;
}

.subtitle {
  composes: Noto-Sans-JP font-size--24px font-weight--bolder from "/src/styles/typography.module.css";
}

.text {
  composes: Noto-Sans-JP font-size--small from "/src/styles/typography.module.css";
  white-space: pre-wrap;
  text-align: center;
}

.red {
  color: var(--red);
}

.button {
  composes: border-radius--large padding-horizontal--large no-border drop-shadow from "/src/styles/layout.module.css";
  composes: RocknRoll-One font-size--normal from "/src/styles/typography.module.css";
  composes: background-color--orange white from "/src/styles/colors.module.css";
  text-decoration: none;
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--normal from "/src/styles/typography.module.css";
}

.input:focus {
  outline: none;
}

.line {
  composes: RocknRoll-One from "/src/styles/typography.module.css";
}

.checkbox {
  composes: Noto-Sans-JP from "/src/styles/typography.module.css";
  cursor: pointer;
}

/* styling checkbox */
input[type="checkbox"] + .checkbox::before{
  display: inline-block;
  content: "";
  border: 3px solid #ffa800;
  border-radius: 4px;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin: -.25rem 1rem 0 0;
}

input[type="checkbox"]:checked + .checkbox::before {
  background: url("/images/checked.svg") center no-repeat;
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Noto-Sans-JP font-size--normal from "/src/styles/typography.module.css";
}

.inputItem {
  composes: flex vertical from "/src/styles/layout.module.css";
}

.moveButtons {
  composes: flex horizontal space-between from "/src/styles/layout.module.css";
}

.authentication {
  composes: flex vertical stretch gap--small from "/src/styles/layout.module.css";
  width: 80vw;
  height: 120vh;
}

.index {
  composes: flex vertical gap--90px width--80percent from "/src/styles/layout.module.css";
  composes: main;
}


.header {
  composes: position--relative flex centered fix--top width--100percent height--60px from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
  composes: orange background-color--white from "/src/styles/colors.module.css";
  z-index: 1;
}

.footer {
  composes: flex horizontal align-items-center space-between padding-landscape border-top--orange fix-bottom width--100percent z-index--1 from "/src/styles/layout.module.css";
  composes: background-color--white from "/src/styles/colors.module.css";
}

.login {
  composes: Noto-Sans-JP font-size--normal from "/src/styles/typography.module.css";
  composes: flex vertical align-items-center gap--small width--100percent from "/src/styles/layout.module.css";
}

.signupTemplate {
  composes: main;
  composes: flex vertical gap--large from "/src/styles/layout.module.css";
}

.backButton {
  composes: orange background-color--transparent from "/src/styles/colors.module.css";
  composes: RocknRoll-One from "/src/styles/typography.module.css";
  composes: no-border position--absolute left--3vw padding-left--30px from "/src/styles/layout.module.css";
}

.backButton::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin: 0 0 0 -30px;
  height: 30px;
  width: 30px;
  background: url("/images/less_than.svg") center no-repeat;
}

.entryDate {
  composes: flex vertical gap--small from "/src/styles/layout.module.css";
}

.termsOfServiceText {
  composes: Noto-Sans-JP font-size--small from "/src/styles/typography.module.css";
}

.agreementButton {
  text-decoration: none;
  composes: orange from "/src/styles/colors.module.css";
  composes: RocknRoll-One font-size--normal from "/src/styles/typography.module.css";
}

.agreement {
  composes: flex space-between fix-bottom width--100percent padding-landscape from "/src/styles/layout.module.css";
}

.modalContainer {
  position: relative;
  z-index: 2;
}

.modalContainer:not(:target){
  opacity: 0;
  visibility: hidden;
}

.modalContainer:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}

.modalContainer:not(:target) .modalWindow {
  transform: translate(-50%, -50%) scale(1.1);
}


.modalContainer:target .modalWindow {
  transform: translate(-50%, -50%) scale(1.0);
  transition: transform 0.2s;
}

.modalWindow {
  composes: flex vertical fix--center width--70vw border-radius--small from "/src/styles/layout.module.css";
  composes: background-color--white from "/src/styles/colors.module.css";
}

.modalButtonContainer {
  composes: flex horizontal stretch border-top--gray from "/src/styles/layout.module.css";
}

.modalButtonContainer :first-child {
  border-right: 1px solid var(--gray);
  font-weight: bolder;
}

.modalButton{
  composes: orange from "/src/styles/colors.module.css";
  composes: flex justify-content-center width--50percent padding-vertical--05rem  from "/src/styles/layout.module.css";
  composes: font-size--small from "/src/styles/typography.module.css";
  composes: text-decoration--none from "/src/styles/typography.module.css";
}

.modalHead {
  composes: padding-vertical--1rem from "/src/styles/layout.module.css";
  composes: Noto-Sans-JP text-center from "/src/styles/typography.module.css";
}

.modalTitle {
  composes: font-size--normal font-weight--bolder from "/src/styles/typography.module.css";
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.3;
}


.keyboardArrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  transform-origin: center;
  transition: transform 0.5s;
}

input[type="checkbox"]:checked + .keyboardArrow{
  transition: transform 0.5s;
  transform: rotate(180deg);
}

.userName {
  composes: RocknRoll-One font-size--normal from "/src/styles/typography.module.css";
}

.userActionIcons {
  composes: flex horizontal align-items-center gap--small from "/src/styles/layout.module.css";
}

.userHeader {
  composes: flex horizontal space-between from "/src/styles/layout.module.css";
}

.userObject {
  composes: flex vertical justify-content-center padding--1rem border-around--orange border-radius--portrait  from "/src/styles/layout.module.css";
}

.KofunmanAndTamago {
  composes: flex horizontal gap--small from "/src/styles/layout.module.css";
}

.addCompanion {
  composes: flex vertical centered gap--small padding-vertical--1rem border-radius--normal border-around--orange from "/src/styles/layout.module.css";
}

.addCompanionText {
  composes: text;
  composes: text-center from "/src/styles/typography.module.css";
}

.userObjectWrapper {
  composes: flex vertical gap--small from "/src/styles/layout.module.css";
}