.main {
  position: absolute;
  top: 80px;
  left: 50%;
  height: 130vh;
  composes: width--80percent from "/src/styles/layout.module.css";
  transform: translate(-50%, 0);
}
.signupButton {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -1px;
  composes: no-border padding-landscape border-radius--large drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--large from '/src/styles/typography.module.css';
}

.signupButton:hover {
  background-color: #da753d;
}

.signupButton:active {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
  top: 2px;
}

.loginButton {
  text-decoration: none;
  text-align: center;
  composes: background-color--white blue from "/src/styles/colors.module.css";
  composes: drop-shadow--shallow border-radius--large border-around--gray padding-landscape drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
}

.loginButton:hover {
  background-color: #e8e8e8;
}


.kofunman {
  composes: flex horizontal align-items-center gap--small from "/src/styles/layout.module.css";
  width: 100%;
}

.text {
  composes: Noto-Sans-JP font-size--small from "/src/styles/typography.module.css";
}

.red {
  color: var(--red);
}

.button {
  composes: align-self--end border-radius--large padding-horizontal--small no-border from "/src/styles/layout.module.css";
  composes: RocknRoll-One from "/src/styles/typography.module.css";
  text-decoration: none;
  background-color: var(--orange);
  color: var(--white);
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--normal from "/src/styles/typography.module.css";
}

.input:focus {
  outline: none;
}

.line {
  composes: RocknRoll-One from "/src/styles/typography.module.css";
}

.checkbox {
  composes: Noto-Sans-JP from "/src/styles/typography.module.css";
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Noto-Sans-JP font-size--normal from "/src/styles/typography.module.css";
}

.inputItem {
  composes: flex vertical from "/src/styles/layout.module.css";
}

.moveButtons {
  composes: flex horizontal space-between from "/src/styles/layout.module.css";
}

.authentication {
  composes: flex vertical stretch gap--small from "/src/styles/layout.module.css";
  width: 80vw;
}

.index {
  composes: flex vertical gap--90px width--80percent from "/src/styles/layout.module.css";
  composes: main;
}


.header {
  composes: position--relative flex centered fix--top width--100percent height--60px z-index--1 from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
  composes: orange background-color--white from "/src/styles/colors.module.css";
}

.footer {
  composes: flex horizontal align-items-center space-between padding-landscape border-top--orange fix-bottom width--100percent z-index--1 from "/src/styles/layout.module.css";
  composes: background-color--white from "/src/styles/colors.module.css";
}

.login {
  composes: Noto-Sans-JP font-size--normal from "/src/styles/typography.module.css";
  composes: flex vertical align-items-center gap--small width--100percent from "/src/styles/layout.module.css";
}

.signupTemplate {
  composes: main;
  composes: flex vertical gap--large from "/src/styles/layout.module.css";
}

.backButton {
  composes: orange background-color--transparent from "/src/styles/colors.module.css";
  composes: RocknRoll-One from "/src/styles/typography.module.css";
  composes: no-border position--absolute left--3vw padding-left--30px from "/src/styles/layout.module.css";
}

.backButton::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin: 0 0 0 -30px;
  height: 30px;
  width: 30px;
  background: url("/images/less_than.svg") center no-repeat;
}

.entryDate {
  composes: flex vertical gap--small from "/src/styles/layout.module.css";
}

.termsOfServiceText {
  composes: Noto-Sans-JP font-size--small from "/src/styles/typography.module.css";
}

.agreementButton {
  text-decoration: none;
  composes: orange from "/src/styles/colors.module.css";
  composes: RocknRoll-One font-size--normal from "/src/styles/typography.module.css";
}

.agreement {
  composes: flex space-between fix-bottom width--100percent padding-landscape from "/src/styles/layout.module.css";
}