.signupButton {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -1px;
  composes: no-border padding-landscape border-radius--large drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--large from '/src/styles/typography.module.css';
}

.signupButton:hover {
  background-color: #da753d;
}

.signupButton:active {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
  top: 2px;
}

.loginButton {
  text-decoration: none;
  text-align: center;
  composes: background-color--white blue from "/src/styles/colors.module.css";
  composes: drop-shadow--shallow border-radius--large border-around--gray padding-landscape drop-shadow width--100percent from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
}

.loginButton:hover {
  background-color: #e8e8e8;
}


.kofunman {
  composes: flex horizontal align-items-center gap--small from "/src/styles/layout.module.css";
  width: 100%;
  /* max-width: 400px; */
}

.p {
  composes: Yusei-Magic from "/src/styles/typography.module.css";
}

.red {
  color: var(--red);
}

.button {
  composes: border-radius--large padding-horizontal--small no-border from "/src/styles/layout.module.css";
  composes: RocknRoll-One from "/src/styles/typography.module.css";
  text-decoration: none;
  background-color: var(--orange);
  color: var(--white);
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--normal from "/src/styles/typography.module.css";
}

.input:focus {
  outline: none;
}

.checkbox, .line {
  composes: Yusei-Magic from "/src/styles/typography.module.css";
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--normal from "/src/styles/typography.module.css";
}

.inputItem {
  composes: flex vertical from "/src/styles/layout.module.css";
}

.moveButtons {
  composes: flex horizontal space-between from "/src/styles/layout.module.css";
}

.authentication {
  composes: flex vertical stretch gap--small from "/src/styles/layout.module.css";
  width: 80vw;
  max-width: 400px;
}

.index {
  margin: auto;
  align-items: flex-start;
  composes: flex vertical justify-content-center gap--large width--80percent height--100vh from "/src/styles/layout.module.css";
}

.centered {
  composes: flex vertical centered from "/src/styles/layout.module.css";
}

.header {
  composes: flex centered fix--top width--100percent height--60px from "/src/styles/layout.module.css";
  composes: font-size--normal RocknRoll-One from "/src/styles/typography.module.css";
  composes: orange from "/src/styles/colors.module.css";
}

.footer {
  composes: flex horizontal align-items-center space-between padding-landscape border-top--orange fix-bottom width--100percent from "/src/styles/layout.module.css";
}

.login {
  composes: Noto-Sans-JP font-size--normal from "/src/styles/typography.module.css";
  composes: flex vertical align-items-center gap--small width--100percent from "/src/styles/layout.module.css";
}