.fix--top {
  position: fixed;
  top: 0;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.centered {
  align-items: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  align-items:flex-start
}

.space-between {
  justify-content: space-between;
}

.gap--small {
  gap: 10px;
}

.gap--large {
  gap: 35px;
}

.padding-landscape {
  padding: 0.5rem 1rem;
}

.padding-footer {
  padding: 
}

.padding-horizontal--small {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.padding-horizontal--large {
  padding: 1rem 0.5rem;
}

.no-border {
  border: 0;
}

.border-around--orange {
  border: 3px solid var(--orange);
}

.border-around--gray {
  border: 2px solid var(--gray);
}

.border-top--orange {
  border-top: 1px solid var(--orange);
}

.border-bottom--orange {
  border: 0;
  border-bottom: 1px solid var(--orange);
}

.border-radius--small {
  border-radius: 10px;
}

.border-radius--normal {
  border-radius: 25px;
}

.border-radius--large {
  border-radius: 40px;
}

.drop-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.width--100percent {
  width: 100%;
}

.width--80percent {
  width: 80%;
}

.width--80vw {
  width: 80vw;
}

.height--100vh {
  height: 100vh;
}

.height--80vh {
  height: 80vh;
}

.height--60px {
  height: 60px;
}