.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

.fix--top {
  position: fixed;
  top: 0;
}

.fix--center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fix-bottom {
  position: fixed;
  bottom: 0;
}

.left--3vw {
  left: 3vw;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.centered {
  align-items: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self--end {
  align-self: end;
}

.justify-content-center {
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  align-items: flex-start;
}

.flex-grow--1 {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.gap--small {
  gap: 10px;
}

.gap--large {
  gap: 35px;
}

.gap--90px {
  gap: 90px;
}

.padding-landscape {
  padding: 0.5rem 1rem;
}

.padding--1rem {
  padding: 1rem;
}

.padding-left--30px {
  padding-left: 30px;
}

.padding-horizontal--small {
  padding: 0 0.5rem;
}

.padding-horizontal--large {
  padding: 0rem 1rem;
}

.padding-vertical--05rem {
  padding: 0.5rem 0;
}

.padding-vertical--1rem {
  padding: 1rem 0;
}

.no-border {
  border: 0;
}

.border-around--orange {
  border: 3px solid var(--orange);
}

.border-around--gray {
  border: 2px solid var(--gray);
}

.border-top--orange {
  border-top: 1px solid var(--orange);
}

.border-top--gray {
  border-top: 1px solid var(--gray);
}

.border-bottom--orange {
  border: 0;
  border-bottom: 1px solid var(--orange);
}

.border-right--gray {
  border-right: 1px solid var(--gray);
}

.border-radius--small {
  border-radius: 10px;
}

.border-radius--normal {
  border-radius: 25px;
}

.border-radius--large {
  border-radius: 40px;
}

.border-radius--portrait {
  border-radius: 10% / 50%;
}

.drop-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.width--100percent {
  width: 100%;
}

.width--80percent {
  width: 80%;
}

.width--50percent {
  width: 50%;
}

.width--80vw {
  width: 80vw;
}

.width--70vw {
  width: 70vw;
}

.width--60vw {
  width: 60vw;
}

.height--100vh {
  height: 100vh;
}

.height--80vh {
  height: 80vh;
}

.height--60px {
  height: 60px;
}

.z-index--1 {
  z-index: 1;
}

.z-index--2{
  z-index:2;
}
