@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Yusei+Magic&display=swap');
.Yusei-Magic {
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 400;
}

.RocknRoll-One {
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 400;
}

.kofunman {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: 'Yusei Magic';
}

.button__reservation {
  background: #ff9a62;
  border: 0;
  font-size: 28px;
  color: #FFFFFF;
  padding: 0.3rem 1rem;
  border-radius: 25px;
}

.drop-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25))
}

.button__login {
  box-sizing: border-box;
  font-size: 20px;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 40px;
  border: 3px solid #FF9A62;
  padding: 0.5rem 1rem;
}

.reservation-or-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.input--item {
  border: 0;
  border-bottom: 1px solid #FF9A62;
  font-family: 'Yusei Magic';
  font-size: 20px;
}

.p {
  font-size: 16px;
}


.red {
  color: #ff6b6b;
}

.reservation-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.auth-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270px;
  align-items: stretch;
  margin: 0 auto;
}

.button--move{
  background: #ff9a62;
  border-radius: 5px;
  padding: 0px 5px;
  font-family: 'Rocknroll One';
  border: 0px;
  color: #FFFFFF;
}

.button--space-between{
  display: flex;
  justify-content: space-between;
}