.module {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  width: 80%;
  min-width: 300px;
  padding: 80px 0 150px;
  margin: 0 auto;
}

.loggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noLogIn {
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

.signup {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -1px;
  border: 0;
  font-size: 2.25rem;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  font-family: 'RocknRoll One', sans-serif;
}

.signup:hover {
  background-color: #da753d;
}

.signup:active {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
  top: 2px;
}

.login {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--black)
}

.loginButton {
  background-color: var(--white);
  text-align:center;
  color: var(--blue);
  font-size: 1.25rem;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  border-radius: 25px;
  border: 1px solid var(--gray);
  font-family: 'RocknRoll One', sans-serif;
  padding: 0.5rem 0;
  width: 100%;
}

.kofunman {
  position: absolute;
}