.module {
  composes: flex vertical gap--small padding-vertical--05rem border-around--orange border-radius--normal  from "/src/styles/layout.module.css";
  width: 90%;
}


.propertyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}