.line {
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  width: 80%;
  white-space: pre-wrap;
}

.module {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}