.module {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  gap: 20px; */
  border-radius: 30px;
  padding: 15px 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
}

.borderOrange {
  border: 4px solid var(--orange);
}

.borderBlue {
  border: 4px solid var(--blue);
}

.userHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0;
}

.userName {
  display: inline-block;
  width: 150px;
  min-width: 150px;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.property {
  display: flex;
  flex-direction: column;
  gap: 20px;
  word-break: break-all;
  overflow-wrap: break-word;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.property.open {
  max-height: 100vh;
  transition: max-height 0.5s linear;
}
