.module {
  display: flex;
  flex-direction: column;
}

.text {
  composes: Noto-Sans-JP font-size--small from "/src/styles/typography.module.css";
}

.input {
  composes: no-border border-bottom--orange from "/src/styles/layout.module.css";
  composes: Yusei-Magic font-size--normal from "/src/styles/typography.module.css";
}