.AgreementButtonWrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.AgreementButton {
  text-decoration: none;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--orange);
  background-color: var(--white);
  border: 0;
}

.module {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}
